:root {
        --link-color-primary: #ec515f;
        --link-color-visited: #161032;
        --link-color-active: #E4840d;
        --button-color-primary: #e1bef7;
        --button-font-color: #161032;
        --border-bottom-color: rgba(0 0 0 0.3);
        --grid-item-background-color: #e1bef7;
}

.navigation-list__item--active {
    text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

tbody {
    font-style: italic;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer {
    font-weight: 600;
    text-align: center;
}

a {
    color: var(--link-color-primary);

    &:visited {
        color: var(--link-color-visited);
    }

    &:hover,
    :focus {
        text-decoration: none;
    }

    &:active {
        color: var(--link-color-active);
    }
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-color-primary);
    color: var(--button-font-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-bottom-color);
    transition: opacity 0.9s;

    &:hover,
    :focus {
        cursor: pointer;
        opacity: 0.8;
    }

    &:visited {
        color: var(--button-font-color);
    }
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-me-text {
    width: 80%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.page-header_item {
    flex: 0 1 200px;
}

.page-header_item :last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid_item {
    background-color: #f2ece1;
    transition: 0.2s ease;
    padding: 20px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:last-child {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    @media all and (min-width: 500px) and (max-width: 750px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

    @media all and (max-width: 500px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }

    .grid_item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }

    .experience_table {
        text-align: center;
    }
